* {
  margin: 0;
  padding: 0;
  display: border-box;
}

:root {
    --white75: rgba(255, 255, 255, 0.75);
    --lightblue: rgb(82, 162, 215);
    --borderBottomShadow: 1px solid rgb(36, 36, 36);
    --borderTopShadow: 1px solid rgb(232, 232, 232);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
